~~~ TEMPLATE FOR PYTHON, JS, LUA AND RUBY
_=1
__={}
--_ * "#{#"  * 1 // 1 if False else """"
--_ || //}".to_i
--_ || `false && ${/*}`
_=#__--[===[
1
_ = nil
__ = nil
<RUBY CODE>
<<-ruby_long_string
<DIVISION>
"""
del _
del __
<PYTHON CODE>
"""
<DIVISION>
*/1}`
{ delete _
delete __
<JS CODE> }
`${/*
<DIVISION>
#]===]
_=nil
__=nil
<LUA CODE>
--[===[
ruby_long_string
#]===]
--_ || `false && ${_*/1}`
--_ || "#{#" ; 1 //
_=--_ && //}"""
1