_=1
__={}
--_ * "#{#"  * 1 // 1 if False else """"
--_ || //}".to_i
--_ || `false && ${/*}`
_=#__--[===[
1
<RUBY CODE>
<<-ruby_long_string
<DIVISION>
"""
<PYTHON CODE>
"""
<DIVISION>
*/1}`
{ <JS CODE> }
`${/*
<DIVISION>
#]===]
<LUA CODE>
--[===[
ruby_long_string
#]===]
--_ || `false && ${_*/1}`
--_ || "#{#" ; 1 //
_=--_ && //}"""
1

